/* SalaryTable Styles */

body {
  font-family: "Roboto", sans-serif;
  background: #f5f5f5;
  margin: 0;
  padding: 8px;
}

.salary-table {
  width: 20%;
  max-width: 800px;
  margin: 20px auto;
  border-collapse: collapse;
}

.salary-table th,
.salary-table td {
  border: 1px solid #ddd;
  padding: 8px;
  color: #063851;
  text-align: left;
}

.salary-table th {
  background-color: #f4f4f4;
  font-size: 12px;
  color: #063851;
  padding: 8px;
}

.salary-table input[type="month"] {
  width: 100%; /* Full width */
  padding: 10px; /* Some padding */
  border: 1px solid #ccc; /* A more subtle border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Border and padding included in width */
}

/* Uniform styles for all input fields within the table */
.salary-table input[type="text"],
.salary-table input[type="text"],
.salary-table select {
  width: 100%; /* Make input fields take up the full cell width */
  padding: 8px; /* Adjust padding as needed for visual consistency */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* Button Styles */
.salary-table .remove-btn {
  background-color: #d32f47; /* Dark Blue */
  color: white; /* White text */
  padding: 10px 10px; /* Padding around the text */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Cursor changes to a hand icon when hovered */
  font-size: 12px; /* Larger font size */
  margin: 20px 0; /* Margin for spacing */
  margin-right: 10px;
}

.salary-table .remove-btn:hover {
  background-color: #ff5230; /* Darker Red for hover effect */
}

.add-remove-btns {
  text-align: center;
  margin-top: 20px;
  color: #063851;
}

.add-remove-btns .add-btn {
  background-color: #063851; /* Dark Blue */
  color: white;
}

.add-remove-btns .add-btn:hover {
  background-color: #e6ac00; /* Darker Amber for hover effect */
}

.add-remove-btns .calculate-btn {
  background-color: #063851; /* Dark Blue */
  color: white;
}

.add-remove-btns .calculate-btn:hover {
  background-color: #45a049; /* Darker Green for hover effect */
}

/* Additional styles if needed */

/* If it's a header tag */
header {
  text-align: center;
  font-size: 12px;
  color: #063851;
}

/* Or if you have a specific class for the container of "Payroll Application" */
.your-header-class {
  text-align: center;
}
.custom-dropdown {
  position: relative;
  display: inline-block;
}

.drop-btn {
  padding: 8px;
  border: 1px solid #ddd;
  background-color: #fff;
  cursor: pointer;
  width: 100%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.custom-dropdown .dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: black;
}

.custom-dropdown .dropdown-content a:hover {
  background-color: #ddd;
}

.custom-dropdown .dropdown-content {
  display: block;
}

.add-employee-btn {
  background-color: #45a049; /* Dark Blue */
  color: white; /* White text */
  padding: 10px 10px; /* Padding around the text */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Cursor changes to a hand icon when hovered */
  font-size: 12px; /* Larger font size */
  margin: 20px 0; /* Margin for spacing */
  margin-right: 10px;
  /* Add any other styles you need */
}

.add-employee-btn:hover {
  background-color: #45a049; /* Slightly darker green when hovered */
}

.calculate-salaries-btn {
  background-color: #063851; /* Dark Blue */
  color: white; /* White text */
  padding: 10px 10px; /* Padding around the text */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Cursor changes to a hand icon when hovered */
  font-size: 12px; /* Larger font size */
  margin: 20px 0; /* Margin for spacing */
  margin-right: 10px;
  /* Add any other styles you need */
}

.calculate-salaries-btn:hover {
  background-color: #45a049; /* Slightly darker green when hovered */
}

.clear-all-btn {
  background-color: #ffa500; /* Dark Blue */
  color: white; /* White text */
  padding: 10px 10px; /* Padding around the text */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Cursor changes to a hand icon when hovered */
  font-size: 12px; /* Larger font size */
  margin: 20px 0; /* Margin for spacing */
  /* Add any other styles you need */
}

.clear-all:hover {
  background-color: #45a049; /* Slightly darker green when hovered */
}

.header {
  display: flex;
  align-items: center; /* Vertically align the image and text */
}

.logo {
  width: 50px; /* Adjust as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 10px; /* Space between the logo and the text */
}
